div{
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #b4b4b4;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #b4b4b4;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:active {
    background: #b4b4b4;
    border-radius: 10px;
  }
}